# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Cypress cache
.cypress-cache/
cypress/screenshots/
cypress/videos/

# Sistema
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
